.astraunot--img {
    position: absolute;
    top: 50%;
    right: 27px;
    width: 45% !important;
    transform: translateY(-50%);
}

#header .logo img {
    height: 41px;
    width: 294px;
}

.new--hero--section video.fullscreen {
    position: absolute;
    z-index: 0;
    object-fit: contain;
    width: 41%;
    /* height: 100%; */
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    background: none;
}

.crypto-btn-group {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.custom-container p {
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
    text-align: left;
}

#debit--card--home p {
    font-size: 19px;
    line-height: 1;
    color: #fff;
    font-family: Poppins;
    margin-bottom: 12px;
}

#reward--section h5 {
    color: #1096da;
    font-family: Poppins!important;
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1;
}

.community-two-column .custom-container .img--container {
    height: auto;
}

.img--container {
    border: 3px solid aliceblue;
    height: 450px;
    padding: 10px;
	margin-bottom: 30px;
}

.img--container img {
    height: 400px !important;
}

.tokenMic h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 38px!important;
    margin-bottom: 45px;
}

.tokenMic p {
    color: #fff;
    text-align: center;
}

.new--footer--section li, .new--footer--section li a {
    font-size: 21px;
    font-family: Poppins;
    margin-bottom: 6px;
    font-weight: 400;
    color: #000;
}

.new--footer--section h2 {
    font-size: 32px!important;
    font-family: Poppins!important;
    font-weight: 800;
    color: #0e96da;
    border-bottom: 2px solid;
}

.new--footer--section .new--footer--logo {
    margin-bottom: 60px;
    width: 346px;
}

.new--footer--section p {
    color: #727272;
    line-height: 1.5;
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 10px;
}

#reward--section .reward--custom--container {
    display: block;
    align-items: center;
}

.reward--custom--container {
    border: 4px solid #1096da;
    padding: 10px 52px;
    border-radius: 45px;
}

.tax p {
    border: 3px solid red;
    margin: 9px;
    padding: 5px 10px;
    border-radius: 45px;
    background: yellow;
}

.reward--custom--container {
    border: 4px solid #1096da;
    padding: 10px 20px 10px 20px;
    border-radius: 45px;
    text-align: center;
}

.partner_section .partner--logo {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .6;
    padding: 0 20px;
    height: 50px;
}